*.bin
*.pt
*.safetensors
deepfake/results/checkpoint-*/model.safetensors
deepfake/results/checkpoint-*/optimizer.pt
deepfake/results/checkpoint-*/scheduler.pt
deepfake/results/checkpoint-*/training_args.bin
